.text-class-1{color:#000000;
font-family:comic sans ms;
font-weight:bold;
font-size:24px;
}
.text-class-2{color:#000000;
font-family:comic sans ms;
font-size:16px;
}
.text-class-3{font-size:16px;
}
.text-class-4{font-family:comic sans ms;
}
.text-class-5{color:#000000;
font-size:16px;
}
.text-class-6{font-family:comic sans ms;
font-size:16px;
}
.text-class-7{font-weight:bold;
}
.text-class-8{font-family:comic sans ms;
font-weight:bold;
font-size:16px;
}
.text-class-9{color:#202e64;
font-family:arial;
font-size:24px;
}
.text-class-10{color:#2e3092;
font-size:16px;
}
.text-class-11{color:#2e3092;
font-weight:bold;
}
.text-class-12{color:#2e3092;
font-family:comic sans ms;
}
.text-class-13{font-weight:bold;
font-size:16px;
}
.text-class-14{color:#2e3092;
}
.text-class-15{color:#2e3092;
font-family:comic sans ms;
font-size:16px;
}
.text-class-16{color:#2e3092;
font-family:comic sans ms;
font-style:italic;
font-size:16px;
}
.text-class-17{font-size:13px;
}
